.appointment-content {
    --background: #f4f4f4;
  }
  
  .appointment-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .appointment-label {
    padding: 20px;
  }
  
  .owner-name,
  .pet-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .date,
  .tracking-code,
  .status,
  .products,
  .total-cost {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-list {
    list-style-type: none;
    padding-left: 0;
  }
  
  .product-item {
    margin-left: 20px;
  }
  
  ion-button {
    --border-radius: 10px;
    margin-left: 10px;
  }
  
  ion-label {
    display: flex;
    align-items: center;
  }
  