<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de Citas</ion-title>
    <<ion-button (click)="signOut()">
      Cerrar Sesion
    </ion-button>
  </ion-toolbar>
</ion-header>
  <!-- Listado de Citas -->
  <ion-content class="appointment-content">
    <ion-list>
      <ion-item *ngFor="let appointment of appointments$ | async" class="appointment-item">
        <ion-label>
          <h2 class="owner-name">Dueño: {{ appointment.ownerName }}</h2>
          <h3 class="pet-name">Mascota: {{ appointment.petName }}</h3>
          <p class="date">Fecha: {{ appointment.date }}</p>
          <p class="tracking-code">Código de Seguimiento: {{ appointment.trackingCode }}</p>
          <p class="status">status: {{ appointment.status }}</p>
          <p class="products">Productos:</p>
          <ul class="product-list">
            <li *ngFor="let product of appointment.selectedProducts"class="product-item">{{ product.name }}</li>
          </ul>
          <!-- Mostrar el precio total -->
        <p class="total-cost">Valor Total: {{ calculateTotalCost(appointment) }}</p>
          
        </ion-label>
        <!-- boton actualizar-->
        <ion-button color="success"  shape="round">
          <ion-icon name="create"></ion-icon>
          <ion-select slot="end" [value]="appointment.status" (ionChange)="onStatusChange($event, appointment)">
            <ion-select-option value="Conociendo a su mascota">Conociendo a su mascota</ion-select-option>
            <ion-select-option value="En progreso">En progreso</ion-select-option>
            <ion-select-option value="Listo para retirar">Listo para retirar</ion-select-option>
            <ion-select-option value="Cancelled">Cancelada</ion-select-option>
            <!-- Agrega más opciones según los estados necesarios -->
          </ion-select>
          Status: 
        </ion-button>
        <!-- boton eliminar -->
        <ion-button color="danger" (click)="confirmDelete(appointment)" shape="round" >
          <ion-icon name="trash"></ion-icon>
          Eliminar</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
  


