.not-found {
    text-align: center;
    h1 {
      font-size: 2em;
      margin-top: 20px;
    }
    p {
      font-size: 1.2em;
      margin: 10px 0;
    }
    ion-button {
      margin-top: 20px;
    }
  }