
  <ion-header>
    <ion-toolbar>
      <ion-title>Lista de Citas</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- Listado de Citas -->
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let appointment of appointments$ | async">
        <ion-label>
          <h2>Dueño: {{ appointment.ownerName }}</h2>
          <h3>Mascota: {{ appointment.petName }}</h3>
          <p>Fecha: {{ appointment.date }}</p>
          <p>Código de Seguimiento: {{ appointment.trackingCode }}</p>
          <p>status: {{ appointment.status }}</p>
        </ion-label>
        <!-- boton actualizar-->
        <ion-button color="success"  shape="round">
          <ion-select slot="end" [value]="appointment.status" (ionChange)="onStatusChange($event, appointment)">
            <ion-select-option value="Programada">Programada</ion-select-option>
            <ion-select-option value="En prgreso">En prgreso</ion-select-option>
            <ion-select-option value="Listo para retirar">Listo para retirar</ion-select-option>
            <ion-select-option value="Cancelled">Cancelada</ion-select-option>
            <!-- Agrega más opciones según los estados necesarios -->
          </ion-select>
          Status: 
        </ion-button>
        <!-- boton eliminar -->
        <ion-button color="danger" (click)="confirmDelete(appointment)" shape="round" >Eliminar</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
  


