<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Agendar Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="appointment-content">
  <form [formGroup]="form" (ngSubmit)="scheduleAppointment()" class="appointment-form">
    <ion-item class="form-item">
      <ion-label position="floating" class="form-label">Nombre del Dueño</ion-label>
      <ion-input formControlName="ownerName" class="form-input"></ion-input>
    </ion-item>
    <ion-item class="form-item">
      <ion-label position="floating" class="form-label">Nombre de la Mascota</ion-label>
      <ion-input formControlName="petName" class="form-input"></ion-input>
    </ion-item>
    <ion-item class="form-item">
      <ion-label position="floating" class="form-label">Fecha</ion-label>
      <ion-datetime
        presentation="date"
        [firstDayOfWeek]="1"
        minuteValues="0"
        hourValues="10,11,12,13,14,15,16"
        [isDateEnabled]="isWeekday"
        formControlName="date"
        display-format="MMM DD, YYYY"
        picker-format="MMM DD YYYY"
        [min]="minDate"
        class="form-datetime">
      </ion-datetime>
    </ion-item>
    <ion-item *ngIf="availableTimes.length > 0" class="form-item">
      <ion-label class="form-label">Hora</ion-label>
      <ion-select formControlName="time" class="form-select">
        <ion-select-option *ngFor="let time of availableTimes" [value]="time.split('T')[2]">
          {{ formatTime(time.split('T')[2]) }}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
    <!-- Sección para seleccionar productos -->
    <ion-list class="product-list">
      <ion-item-divider class="product-divider">Productos</ion-item-divider>
      <ion-item *ngFor="let product of products" class="product-item">
        <ion-label class="product-label">{{ product.name }}</ion-label>
        <ion-button (click)="toggleProductSelection(product)" [color]="isSelected(product) ? 'danger' : 'secondary'" fill="outline" class="product-button">
          {{ isSelected(product) ? 'Quitar' : 'Agregar' }}
        </ion-button>
      </ion-item>
    </ion-list>

    <!-- Mostrar el valor total -->
    <ion-item class="total-item">
      <ion-label class="total-label">Total:</ion-label>
      <ion-text class="total-text">{{ calculateTotal() | currency:'CLP':'symbol' }}</ion-text>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="form.invalid" class="submit-button">Agendar</ion-button>
  </form>
  
</ion-content>
