<ion-header>
  <ion-toolbar>
    <ion-title>Agendar Cita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Nombre del Dueño</ion-label>
    <ion-input [(ngModel)]="ownerName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre de la Mascota</ion-label>
    <ion-input [(ngModel)]="petName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Fecha</ion-label>
    <ion-datetime [(ngModel)]="date"></ion-datetime>
  </ion-item>
  <ion-button expand="full" (click)="scheduleAppointment()">Agendar</ion-button>
  <div *ngIf="trackingCode">
    <h2>Código de Seguimiento: {{ trackingCode }}</h2>
  </div>
</ion-content>