ion-content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Cambiado para alinear al inicio */
    height: 100vh;
    padding: 1rem; /* Añadido padding para un mejor espaciado */
  
    .card-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Cambiado para alinear a la izquierda */
  
      ion-card {
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 10px 0;
        width: 90%;
        max-width: 400px;
        opacity: 0;
        transform: translateX(-20px); /* Cambiado para animar desde la izquierda */
        animation: fadeInLeft 0.5s forwards;
  
        ion-card-header {
          background-color: #f8f8f8;
          border-bottom: 1px solid #ddd;
          border-radius: 10px 10px 0 0;
          padding: 1rem;
        }
  
        ion-card-title {
          font-size: 1.2rem;
          font-weight: bold;
        }
  
        ion-card-subtitle {
          font-size: 1rem;
          color: #656;
        }
  
        ion-card-content {
          padding: 1rem;
  
          p {
            margin: 0.5rem 0;
            font-size: 0.9rem;
            color: #333;
          }
        }
      }
    }
  
    @keyframes fadeInLeft {
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }