<ion-header>
  <ion-toolbar>
    <ion-title>Mis Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="card-container">
    <ion-item class="card" *ngFor="let appointment of appointments$ | async" [style.animation-delay]="'0.' + 's'">
      <ion-label>
        <h2>Dueño: {{ appointment.ownerName }}</h2>
        <h3>Mascota: {{ appointment.petName }}</h3>
        <p>Fecha: {{ appointment.date }}</p>
        <p>Código de Seguimiento: {{ appointment.trackingCode }}</p>
        <p>Estado: {{ appointment.status }}</p>
      </ion-label>
    </ion-item>
  </div>
  </ion-list>
</ion-content>
