<ion-header>
  <ion-toolbar>
    <ion-title>Mis Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-container">
    <ion-card *ngFor="let appointment of appointments$ | async; let i = index" [style.animation-delay]="i * 0.5 + 's'">
      <ion-card-header>
        <ion-card-title>Dueño: {{ appointment.ownerName }}</ion-card-title>
        <ion-card-subtitle>Mascota: {{ appointment.petName }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Fecha: {{ appointment.date }}</p>
        <p>Código de Seguimiento: {{ appointment.trackingCode }}</p>
        <p>Estado: {{ appointment.status }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
